.NewsContent {
    width: 60%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
  }

  @media (max-width: 768px) {
    .NewsContent {
      max-width: 90%;
    }
  }

  .Toolbar{
    background-color: var(--primary);
  }